<section id="about" class="g-row margin-top">
  <h2>About Me</h2>
  <p>
    My name is Anthony D'Andrea. I'm currently based in Chicago working at <a href="http://www.leapfrogonline.com/" target="_blank">Leapfrog Online</a>. I am a licensed scuba and sky diver. I can speak some Spanish and I picked up a little Italian from my Nonna. My spirit animal is the fox.
  </p>
</section>