<section id="about" class="g-row margin-top">
  <h2>About Me</h2>
  <p>I'm currently based in Chicago working at <a href="http://www.leapfrogonline.com/" target="_blank">Leapfrog Online</a>. I am a licensed scuba and sky diver. I love traveling and exploring. I can speak Spanish and I picked up a little Italian from my Nonna.</p>
</section>