<section id="contact" class="g-row margin-top margin-bottom">
  <h2>Contact Me</h2>
  <a href="mailto:anthony.dandrea@me.com">
    <i class="fa fa-envelope"></i> Email
  </a>
  <a href="https://github.com/anthony-dandrea" target="_blank">
    <i class="fa fa-github-square"></i> Github
  </a>
  <a href="https://www.linkedin.com/pub/anthony-d-andrea/26/a94/217" target="_blank">
    <i class="fa fa-linkedin-square"></i> LinkedIn
  </a>
  <a href="AnthonyDAndreaResume.pdf" target="_blank">
    <i class="fa fa-briefcase"></i> Resum&eacute;
  </a>
</section>