<section id="contact" class="g-row margin-top margin-bottom">
  <h2>Contact Me</h2>
  <a href="mailto:anthony.dandrea@me.com">
    <i class="fa fa-envelope"></i> Email
  </a>
  <a href="https://github.com/anthony-dandrea" target="_blank">
    <i class="fa fa-github-square"></i> Github
  </a>
</section>