<header class="full-width">
  <div class="g-row pad">
    <a href="#top" class="logo">Anthony's Portfolio</a>
    <nav>
      <a href="#" class="menu" id="menu">
        <span></span>
      </a>
      <%= partial "modules/nav" %>
    </nav>
  </div>
  <div class="mobile-nav">
    <%= partial "modules/nav" %>
  </div>
</header>
