<div class="hero-content">
  <h1>Hi, I'm Anthony</h1>
  <p>I'm a web developer. Coding cool websites that are scalable is my bread and butter.</p>
</div>

<a class="scroll" href="#projects">
  <i class="fa fa-angle-down"></i>
</a>