<section id="projects" class="g-row">

  <div class="g-col-offset-6">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        Primary Headline
      </h3>
      <hr>

      <div class="g-col-offset-4">
        <img src="http://placehold.it/500x400">
      </div>

      <div class="g-col-offset-8 omega">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nisi, corporis sunt praesentium possimus officiis fugit ratione maiores aut dignissimos! Distinctio, ipsam ex reprehenderit accusamus quisquam quod asperiores optio fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ipsa, facere, provident odit reprehenderit enim iusto iste voluptatem unde praesentium in quisquam dolorum quis explicabo maxime vel placeat voluptas quas!</p>
      </div>
    </div>
  </div>

  <div class="g-col-offset-6 omega">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        Primary Headline
      </h3>
      <hr>

      <div class="g-col-offset-4">
        <img src="http://placehold.it/500x400">
      </div>

      <div class="g-col-offset-8 omega">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nisi, corporis sunt praesentium possimus officiis fugit ratione maiores aut dignissimos! Distinctio, ipsam ex reprehenderit accusamus quisquam quod asperiores optio fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ipsa, facere, provident odit reprehenderit enim iusto iste voluptatem unde praesentium in quisquam dolorum quis explicabo maxime vel placeat voluptas quas!</p>
        <ul>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </div>
    </div>
  </div>

</section>