<section id="projects" class="g-row pad-top">

  <h2>My Projects</h2>

  <div class="g-col-offset-6">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        <a href="https://www.coxvalue.com/" target="_blank">
          Cox Value
        </a>
      </h3>
      <hr>
      <div class="g-col-offset-4">
        <a href="https://www.coxvalue.com/" target="_blank">
          <%= image_tag 'coxvalue.jpg' %>
        </a>
      </div>
      <div class="g-col-offset-8 omega">
        <p><a href="https://www.coxvalue.com/" target="_blank">Cox Value</a> utilizes responsive design on the LPs and throughout the entire buyflow. Made using an in-house CMS and Cox Cable's new API.</p>
      </div>
    </div>
  </div>

  <div class="g-col-offset-6 omega">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        <a href="http://go.chamberlain.edu/" target="_blank">
          Chamberlain College of Nursing
        </a>
      </h3>
      <hr>
      <div class="g-col-offset-4">
        <a href="https://www.coxvalue.com/" target="_blank">
          <%= image_tag 'ccn.jpg' %>
        </a>
      </div>
      <div class="g-col-offset-8 omega">
        <p>Fully responsive design that was originally a single page. Now multiple pages using angular.</p>
      </div>
    </div>
  </div>

  <div class="g-col-offset-6">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        <a href="http://www.bestcharterspectrumdeals.com/" target="_blank">
          Charter Cable
        </a>
      </h3>
      <hr>
      <div class="g-col-offset-4">
        <a href="http://www.bestcharterspectrumdeals.com/" target="_blank">
          <%= image_tag 'charter.jpg' %>
        </a>
      </div>
      <div class="g-col-offset-8 omega">
        <p>This is a responsive site made to be used with multiple themes. <a href="http://www.bestcharterspectrumdeals.com/" target="_blank">Bestcharterspectrumdeals.com</a> is the same layout as <a href="http://www.bestcharterdeals.com/" target="_blank">bestcharterdeals.com</a> but with a different skin.</p>
      </div>
    </div>
  </div>

  <div class="g-col-offset-6 omega">
    <div class="g-row col-baselines">
      <h3 class="primary-headline">
        <a href="https://github.com/anthony-dandrea" target="_blank">
          My Github
        </a>
      </h3>
      <hr>
      <p>Most of my work has to stay on my employers private repos. But I do have a few things on my personal Github projects you can see. Check out a small <a href="https://github.com/anthony-dandrea/tic-tac-toe" target="_blank">tic-tac-toe</a> project I've been playing with. Or see the source code for this <a href="https://github.com/anthony-dandrea/portfolio" target="_blank">portfolio site</a>.</p>
    </div>
  </div>

</section>
