<section id="skills" class="g-row margin-top">
  <h2>My Skills</h2>
  <p>I love learning new things and try my best to stay on top of the latest new tech.</p>
  <ul>
    <li>Sass - I love OO CSS</li>
    <li>HTML5</li>
    <li>Unix and the CLI</li>
    <li>Git &amp; SVN</li>
    <li>Javascript</li>
    <ul>
      <li>JQuery</li>
      <li>Angular</li>
      <li>Backbone</li>
      <li>Knockout</li>
      <li>Node</li>
      <li>AJAX</li>
      <li>Coffeescript</li>
    </ul>
    <li>Slicing and dicing on Photoshop</li>
    <li>Front end tools such as: Grunt, Gulp, Bower, ect.</li>
  </ul>
</section>
